# TODO: Pin versions in here
pandas
matplotlib
scipy
xmltodict
ipykernel
pydantic
duckdb
sqlmodel
duckdb-engine
beautifulsoup4
langchain-text-splitters
torch
tqdm
transformers[torch]
python-dotenv
pyarrow
sentence-transformers
pinecone